th,td{
    border:1px solid black;
    padding:5px;
}
td:empty{
    padding:20px;
}
table{
    border-collapse:collapse;
    empty-cells:show;
}

table tbody tr:nth-child(2n){
    background-color: greenyellow;

}

table tbody tr:nth-child(2n+1){
    background-color: lightblue;

}

/*table tbody tr td:not([rowspan]){
    background-color: gold;
}*/
table tbody tr:hover td[rowspan*="1"]{
    background-color: gold;
}

@media only screen and (max-width:800px){
#tabeldiv{
    overflow-x: scroll;
}    
}