<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>
abc
<main>
	<h2>404</h2>
	<%= "<p style="color:red;">Pagina nu exista!</p>" %>
</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>