<!doctype html>

<html lang="ro">
<head>

	<%- include("../fragmente/head.ejs") %>
    <title>MBPMag - Galerie animata</title>
    <link href="/styles/galanim.css" rel="stylesheet" type="text/css" />
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>

<h1>Galerie animata cu poze</h1>
<section>
  <div id="galerieex" class="galerie">
   <div>
    <figure>
        <img title="Camera albastra" src="/img/grid/p1.png" alt="Camera albastra" >
        <figcaption >Fig.1 Camera albastra</figcaption>
    </figure>

    <figure>
        <img title="Film derulant albastru" src="/img/grid/p2.png" alt="Film derulant albastru" >
        <figcaption>Fig.2 Film derulant albastru</figcaption>
    </figure>

    <figure>
        <img title="Film derulant alb" src="/img/grid/p3.png" alt="Film derulant alb" >
        <figcaption>Fig.3 Film derulant alb</figcaption>
    </figure>
  
    <figure>
        <img title="Film si camera" src="/img/grid/p4.png" alt="Film si camera" >
        <figcaption>Fig.4 Film si camera</figcaption>
    </figure>

    <figure>
        <img title="Sfarsit" src="/img/grid/p5.png" alt="Sfarsit" >
        <figcaption>Fig.5 Sfarsit</figcaption>
    </figure>
  
    <figure>
        <img title="Camera" src="/img/grid/p6.png" alt="Camera" >
        <figcaption>Fig.6 Camera</figcaption>
    </figure>
   
    <figure>
        <img title="Film cu poze" src="/img/grid/p7.png" alt="Film cu poze" >
        <figcaption>Fig.7 Film cu poze</figcaption>
    </figure>
  
    <figure>
        <img title="Peisaj SF" src="/img/grid/p8.png" alt="Peisaj SF" >
        <figcaption>Fig.8 Peisaj SF</figcaption>
    </figure>
 
    <figure>
        <img title="Camera veche" src="/img/grid/p9.png" alt="Camera veche" >
        <figcaption>Fig.9 Camera veche</figcaption>
    </figure>
 
    <figure>
        <img title="Popcorn" src="/img/grid/p10.png" alt="Popcorn" >
        <figcaption>Fig.10 Popcorn</figcaption>
    </figure>
</div>
</div>
</section>

	



<%- include("../fragmente/footer.ejs") %>
</body>
</html>