<!doctype html>

<html lang="ro">
<head>

	<%- include("../fragmente/head.ejs") %>
	<title>MBPMag - Cumpara inteligent</title>
	
</head>
<body class="light">

<%- include("../fragmente/header.ejs") %>
<main>
	<section id="home"></section>
	<div id="titlumag"><img id="logo" title="Logo" src="/img/logo.png" alt="logo" >
	<h1 style="position:relative; top:20%; width:80%;" >MBPMag <span class="far fa-film-alt"></span></h1>
	</div>    
		   <section id="noutati">
		   <h2 class="hed2"> Noutati:</h2>
			   <br>
				  <h3 class="hed3 afished3" >Tenet</h3>
					
					<img title="Tenet" src="/img/Tenet.png" alt="Tenet" class="imgafis" >
					<p class="alinhome">
					DATA LANSĂRII: 18 septembrie 2020<br><br>
					DURATĂ: 151min <br><br>
					<i>"Tenet"</i> este o poveste epică a cărei acțiune debutează în lumea spionajului internațional.
					Înarmat cu un singur cuvânt - Tenet - şi luptând pentru supraviețuirea întregii lumi, 
					Protagonistul călătoreşte printr-o lume crepusculară a spionajului internaţional, 
					într-o misiune a cărei acţiune se va desfăşura dincolo de timpul real. Nu călătorie în timp. Inversiune.
					<br><br>
					GENUL FILMULUI: Acțiune, Dramă, Thriller <br><br>
					REGIZOR: Christopher Nolan <br><br>
					PRODUCȚIE: 2020<br><br>
					CLASIFICARE: Acord parental pentru copiii sub 12 ani.
				  
					</p>
					
					
					<br>
					<div class="videoprez">
						
						<iframe src="https://www.youtube.com/embed/AZGcmvrTX9M" allowfullscreen 
								class="videomarimeprez">
						</iframe>
					</div>
				</section>    
					
		   </div>    
		   <section id="recsapt" >
		   <h2 class="hed2">Recomandarea saptamanii:</h2>
			   <section>                   
				  <h3 class="hed3 afished3">Interstellar: Calatorind prin univers</h3>
					<img title="Interstellar" src="/img/Interstellar.png" alt="Interstellar" class="imgafis" >
					<p class="alinhome">
					DATA LANSĂRII: 7 Noiembrie 2014<br><br>
					DURATĂ: 169min <br><br>
					Omenirea este în pragul dispariției, așa că un grup de astronauți trece printr-o gaură neagra pentru a căuta o nouă casă pentru specia umană.
					<br><br>
					GENUL FILMULUI: Aventura, Dramă, Sci-Fi <br><br>
					REGIZOR: Christopher Nolan <br><br>
					PRODUCȚIE: 2014<br><br>
					CLASIFICARE: Acord parental pentru copiii sub 12 ani.
					
					</p>
					<br><br>
					<div class="videoprez">
						
						<iframe src="https://www.youtube.com/embed/zSWdZVtXT7E" allowfullscreen 
						class="videomarimeprez">
						</iframe>
					</div>
				</section>    
					
			</section>
		   <section id="incurand">
			<h2 class="hed2">In curand:</h2>      
				<br>
				  <h3 class="hed3 afished3">CURSA PENTRU SUPRAVIETUIRE</h3>
					 
					 <img title="CursaPentruSupravietuire" src="/img/CursaSupravietuire.png" alt="CursaPentruSupravietuire" class="imgafis"  >
					 <p class="alinhome">
					 DATA LANSĂRII: 13 Noiembrie 2020 <br><br>
					 DURATĂ: 120min <br><br>
					 O familie luptă pentru supraviețuire atunci când o cometă cu dimensiuni uriașe pune în pericol existența vieții pe Pământ.
					 John Garrity (Gerard Butler), soția sa Allison (Morena Baccarin) și fiul tânăr Nathan fac o călătorie periculoasă spre Groenlanda, 
					 singura lor speranță pentru supraviețuire. Pe fondul unor știri terifiante despre distrugerea orașelor din întreaga lume, 
					 de fragmente ale cometei, familia experimentează tot ce este mai bun și cel mai rău în umanitate, 
					 în timp ce luptă împotriva panicii din ce în ce mai mari și infracținilor numeroase din jurul lor. 
					 Pe măsură ce numărătoarea inversă către apocalipsa globală se apropie de zero, călătoria lor incredibilă culminează cu un zbor disperat, 
					 în ultima clipă către un posibil refugiu sigur.
					
					<br><br>
					 GENUL FILMULUI: Actiune, Drama <br><br>
					 REGIZOR: Ric Roman Waugh <br><br>
					 PRODUCȚIE: 2020<br><br>
					 CLASIFICARE: Acord parental pentru copiii sub 12 ani.
					 
					 </p>
					 
					 <div class="videoprez">
						
						<iframe src="https://www.youtube.com/embed/1M8s0w1Fzm4"  allowfullscreen 
						class="videomarimeprez">
						</iframe>
					</div>
				   
			</section>
   </section>

</main>
	

	



<%- include("../fragmente/footer.ejs") %>
</body>
</html>