<footer>
  <a href="#" id="link-top"><div id="triunghi"></div></a>
  <div id="disclaimer">Disclaimer: Acest site este un proiect</div>
  <small>
    <p>Data si ora curenta:<span id="datetime"></span></p>
    <script>
      var dt = new Date();
      document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
  </small>
</footer>
