<header id="top">
            
		<nav>
			<div class="topnav">
					<label id="hamburger" for="ch-menu">
						<i class="far fa-bars fa-3x" ></i>
					</label>
			 <input id="ch-menu" type="checkbox">
			  <ul class="menu">
			   <li><a class href="/index" id="home"> <i class="fas fa-home-lg-alt fa-2x" id="iconcasa"></i>
					<span id="hide">Acasa</span></a></li>
			   <li>
				<label for="opt_div">
				 Diverse
				</label>
				 <input class="ch-submenu" type="checkbox" id="opt_div">
				 <ul class="submenu">
					 <li><a href="/Contact">Contact</a></li>
					 <li><a href="/Contact#Oferte">Oferte</a></li>
					 <li><a href="/Contact#Audio">Audio</a></li>
					 <li><a href="/Contact#Video">Video</a></li>
				 </ul>
			   </li>
			   <li>
				<label for="opt_galerii2">
				  Galerii
				</label>
				<input class="ch-submenu2" type="checkbox" id="opt_galerii2">
				<ul class="submenu">
				  <li><a href="/galerie">Statica</a></li>
				  <li><a href="/galanim">Animata</a></li>
				</ul>
			   </li>
			   <li><a href="/filme">Filme</a></li>
			   <li><a href="/Login" class="login">Autentificare</a></li>
			  </ul>
			</div>
		  </nav>
 <button onclick="ldtheme()" id="bt" class="btn"><i id="icn" class="fas fa-sun"></i></button>
</header>